<section class="checkout-wrapper section">
    <div class="container">
        {{!-- FORM --}}
        <form action="/change-password" method="post" id="">
            
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">


                            <li>
                                {{!-- <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Your Personal Details </h6> --}}
                                   
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Enter the password</label>
                                                {{#if passMsg}}
                <p class="error" style="color: red;">{{passMsg}}</p>
            {{/if}}
                                                <div class="row">
                                                    <div class="col-md-12 form-input form">
                                                        <input type="password" name="password" >
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                       
                                      
                                      
                                       <button type="submit" class="btn btn-outline-success mt-3 ;"  >Next</button>

                                        {{!-- <h5 style="text-align: right;"><a class="btn btn-outline-success mt-3" href="/profile">Save</a></h5> --}}
                                    </div>
                                </section>
                            </li>



                           


                           
                        </ul>
                    </div>
                </div>
                
            </div>
            {{!-- /FORM --}}
        </form>
    </div>
</section>